<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

		<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<h1>This is a heading</h1>
		<h2>This is a sub heading</h2>
		<p style="color: red;">This is a paragraph</p>
		<a href="localhost:8080/api/form/hello"> click here for hello </a>
		<a href="localhost:8080/api/form/bye"> click here for bye </a>
	</body>
</html>